<% provide(:title, 'Top') %>
  <div class="center jumbotron">
    <h1>筋肉トレーニングシステム</h1>
    <p>日々の鍛錬無くして筋肉の向上無し!!</p>
    <p>筋肉は君を裏切らない</p>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>


  </div>   