<% provide(:title, "@user.name") %>
<h1><%= @user.name %></h1>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>時間管理表</td>
    </tr>

    <tr>
      <td>トレーニング種目一覧</td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>トレーニング部位</th>
        <th>一覧選択/追加</th>
      </tr>
    </thead>

    <tbody>
      
        <tr>
          <td></td>
          <td></td>
          <td>一覧選択/追加</td>
        </tr>
      
    </tbody>
  </table>
</div>